@import url(https://fonts.google.com/specimen/Red+Hat+Display);
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  /* background-color: hsl(225, 100%, 94%); */
}

.card {
  width: 22%;
  border: 1px solid;
  height: 100%;
  border-radius: 15px;
  margin: 150px auto;
}
.hero {
  width: 100%;
  border-radius: 10px;
  height: 160px;
  border-radius: 15px 15px 0px 0px;
}
.textbox {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: auto;
}
.textbox > h2 {
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.textbox > p {
  margin-bottom: 12px;
  font-size: 10px;
  text-align: center;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0px 0px 2px 0px;
  color: rgb(139, 137, 137);
}
.plan {
  background-color: hsl(225, 100%, 98%);
  width: 85%;
  margin: auto;
  border-radius: 10px;
  height: 50px;
}
.elements {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;
  padding: 5px;
}
.icon img {
  width: 40px;
}
#text {
  margin-left: 5px;
}
#text span {
  font-size: 0.8rem;
  font-weight: 600;
}
#text .price {
  font-size: 0.7rem;
}
.change {
  display: flex;
  width: 30%;
  text-align: center;
  /* border: 1px solid; */
  justify-content: center;
}

.change p {
  font-size: 11px;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
}

button {
  display: flex;
  background-color: hsl(245, 75%, 52%);
  border: 0.5px;
  border-radius: 10px;
  width: 85%;
  margin: 20px auto;
  height: 40px;
  color: whitesmoke;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}
.cancel {
  display: flex;
  color: hsl(240, 8%, 20%);
  margin: 25px auto;
  width: 70%;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 2px 0px;
  font-size: 0.82rem;
}
